*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
# IntelliJ project files
.idea
*.iml
out
gen
.gradle/
.idea/
build.gradle
gradle/
gradlew
gradlew.bat
out/
settings.gradle
src/main/resources/
src/test/resources/
